main {
  display: flex;
  flex-direction: column;
}
p {
  margin: 0;
}
h2 {
  margin: 0;
  font-weight: bold;
}
.jobTitle,
address {
  display: inline-block;
}
time {
  display: block;
  font-size: 90%;
}
.experience > ul > li,
.education > ul > li,
.projects > ul > li {
  margin-bottom: 1em;
}

.jobDescription {
  margin-left: 1em;
}
.schoolName,
.jobTitle,
address,
.projectName {
  font-weight: bold;
}
.headerList {
  list-style-type: none;
}
.subList {
  list-style-type: disc;
}
@media (min-width: 768px) {
  .education,
  .experience,
  .skills {
    width: 60%;
  }
  main {
    align-items: center;
  }
}
