body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #fefefe;
  font-family: "Times New Roman", Times, serif;
}

nav {
  font-size: 6vw;
  margin-top: 3vw;
}
#home {
  font-size: 8vw;
}
main {
  margin-bottom: 2rem;
}
.footer {
  font-size: 2em;
}
h1 {
  font-size: 12vw;
  margin-bottom: 0;
}
h2 {
  font-size: 12vw;
  font-style: italic;
  color: #444444;
}
#connect {
  margin-top: 1em;
  display: grid;
  grid-template-columns: auto auto auto;
}
#connect > a {
  padding: 3vw;
  font-size: 6vw;
  text-align: center;
}
#projects > ul {
  list-style-position: inside;
  padding-left: 0;
  font-size: 5vw;
}
@media (min-width: 768px) {
  #home {
    font-size: 2vw;
  }
  nav {
    font-size: 2vw;
  }
  h1 {
    font-size: 6.5vw;
  }
  h2 {
    font-size: 6vw;
  }
  #connect > a {
    font-size: 4vw;
  }
  #projects > ul {
    font-size: 3vw;
  }
}
